<template>
  <div class="component component_PageLoading" v-show="isLoading">
    <span>I'm loading</span>
  </div>
</template>

<script>
export default {
  name: 'PageLoading',
  data() {
    return {
      show: this.isActive,
    };
  },
  props: {
    isLoading: Boolean,
  },
};
</script>

<style scoped>
.component_PageLoading {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
</style>
