<template>
  <div v-cloak>
    <PageLoading :isLoading="isLoading"></PageLoading>
    <PerformanceDashboardHeader :months="months"></PerformanceDashboardHeader>

    <h5 class="page-heading text-uppercase"><strong>TV</strong></h5>
    <PerformanceDashboardList
      :groups="tv"
      :columns="columns.tv"
      :months="months">
    </PerformanceDashboardList>

    <h5 class="page-heading text-uppercase"><strong>DIGITAL</strong></h5>
    <PerformanceDashboardList
      :groups="digital"
      :columns="columns.digital"
      :months="months">
    </PerformanceDashboardList>
  </div>
</template>

<script>
import PerformanceDashboardHeader from '@/components/PerformanceDashboardHeader';
import PerformanceDashboardList from '@/components/PerformanceDashboardList';
import PageLoading from '@/components/PageLoading';
import Mixins from '@/utils/mixins';

export default {
  name: 'PerformanceDashboard',
  components: {
    PerformanceDashboardHeader,
    PerformanceDashboardList,
    PageLoading,
  },
  mixins: [Mixins],
  data() {
    return {
      raw_data: [],
      tv: [],
      digital: [],
      errors: [],
      columns: {
        tv: [],
        digital: [],
      },
      months: [],
      years: [],
      current_year: '',
      isLoading: true,
    };
  },
  methods: {
    getPerformanceData() {
      this.isLoading = true;
      this.$http({
        method: 'get',
        url: 'https://api.jsonbin.io/b/5c11de5a279ac6128f58f349',
      })
        .then((response) => {
          this.raw_data = response.data;
          this.isLoading = false;
          this.sortPerformanceData();
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
    computePercentageToBudget(sales, budget) {
      const percentage = (sales / budget) * 100;
      const computedPercentage = this.roundOff(percentage, 0);
      return computedPercentage;
    },
    computeFigureToBudget(sales, budget) {
      const figure = sales - budget;
      const computedFigure = this.roundOff(figure, 0);
      return computedFigure;
    },
    computeSTLY(sales, stly) {
      const percentage = ((sales / stly) - 1) * 100;
      const computedSTLY = this.roundOff(percentage, 2);
      return computedSTLY;
    },
    sortPerformanceData() {
      const tempObject = { tv: {}, digital: {} };

      for (let i = 0; i <= this.raw_data.length - 1; i += 1) {
        const rd = this.raw_data[i];
        const cgn = rd.channel_group_name;
        const dept = tempObject[rd.department_name.toLowerCase()];
        const dpn = rd.department_name.toLowerCase();
        const month = rd.month;

        const sales = rd.sales_revenue;
        const budget = rd.budget;
        const stly = rd.sales_revenue_stly;
        const hasCgn = Object.prototype.hasOwnProperty.call(dept, cgn);

        rd.computed_percentage_to_budget = this.computePercentageToBudget(sales, budget);
        rd.computed_figure_to_budget = this.computeFigureToBudget(sales, budget);
        rd.computed_stly = (parseFloat(stly).toFixed(2).toString() === '-1.00') ?
          -1 : this.computeSTLY(sales, stly);

        if (!hasCgn) {
          tempObject[dpn][cgn] = [];
          this.columns[dpn].push(cgn);
        }

        if (this.months.indexOf(month) === -1) this.months.push(month);
        console.log(this.months);

        tempObject[dpn][cgn].push(rd);
      }

      this.tv = this.convertObjectToArray(tempObject.tv);
      this.digital = this.convertObjectToArray(tempObject.digital);
    },
  },
  created() {
    this.getPerformanceData();
  },
};
</script>

