<template>
  <section class="text-center">
    <h5 class="clearfix" style="margin-bottom: 5px;">
      MCN 2018 Performance Dashboard<br>
      <small></small>
    </h5>
  </section>
</template>

<script>
export default {
  name: 'PerformanceDashboardHeader',
  props: {
    months: Array,
  },
  data() {
    return {
      msg: '',
    };
  },
};
</script>
