<template>
  <div class="col-group">
    <div class="col-dates">
      <time class="text-uppercase" v-for="(month_range, index) in months_range" :key="index">
        {{ month_range }}
      </time>
    </div>

    <div class="col" v-for="(group, index) in groups" :key="index">
      <h6 class="channel-names text-center">{{ columns[index] }}</h6>
      <article class="card card-inverse" v-for="(unit, index) in group" :key="index">
        <div class="card-body performance-dashboard-body">
          <div class="progress-data">
            <figure class="progress-gauge">
              <div class="progress-gauge-details">
                <span class="percentage">{{ unit.computed_percentage_to_budget }}</span>
                <small class="budget">
                  {{ unit.computed_figure_to_budget | numeral('0.0a') }}
                </small>
              </div>
              <VueCircle
                :progress="unit.computed_percentage_to_budget"
                :size="84"
                :thickness="4"
                :animation="false"
                :show-percent="false"
                :start-angle="getProgressCircleStartAngle()"
                :fill="{ color: getFillColor(unit.computed_percentage_to_budget) }"
                empty-fill="rgba(68,72,84,1)"
                line-cap="butt"
              >
              </VueCircle>
            </figure>
            <div class="progress-stly" v-if="unit.computed_stly === -1">
              <span class="n-a">N/A</span>
            </div>
            <div class="progress-stly" v-else>
              <span class="percentage">{{ unit.computed_stly }}</span>
              <span>
                <sub>VS</sub> STLY
                <i
                  class="percentage-indicator-arrows fas"
                  v-bind:class="getArrowClass(unit.computed_stly)">
                </i>
              </span>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import Filters from '@/filters/filters';
import VueCircle from 'vue2-circle-progress';

export default {
  name: 'PerformanceDashboardList',
  data() {
    return {
      current_stly: 0,
      months_range: [],
    };
  },
  components: {
    VueCircle,
  },
  filters: {
    Filters,
  },
  props: {
    groups: Array,
    columns: Array,
    months: Array,
  },
  methods: {
    getSTLYClass(value) {
      let str = 'percentage';
      if (value < 0) str = 'n-a';
      return str;
    },
    getArrowClass(value) {
      return {
        'fa-arrow-minus text-muted static': (value === -1),
        'fa-arrow-down down': (value !== -1 && value < 0),
        'fa-arrow-up up': (value > 0),
      };
    },
    getProgressCircleStartAngle() {
      return (-Math.PI / 4) * 2;
    },
    getFillColor(value) {
      let hex = '';
      if (value < 80) { hex = '#fb3030'; }
      if (value >= 80) { hex = '#ff703e'; }
      if (value >= 100) { hex = '#72cb53'; }
      return hex;
    },
  },
};
</script>
