<template>
  <main class="main">
    <PerformanceDashboard></PerformanceDashboard>
  </main>
</template>

<script>
import PerformanceDashboard from './components/PerformanceDashboard';

export default {
  name: 'App',
  components: {
    PerformanceDashboard,
  },
};
</script>

<style lang="css">
  @import './scss/toolkit-inverse';
</style>
<style lang="scss">
  @import './scss/styles';
</style>
