@import 'variables.scss';

body {
  background-color: #252830;
}
.main {
  padding: 15px;
  width: 1800px;
  margin: auto auto;
}

.page-heading {
  padding: 10px;
  padding-left: 0;
  color: #00c2ff;
  margin-top: 1vh;
  border-bottom: 1px solid $header-bg;
}

.btn { cursor: pointer }

.btn-flat {
    border-radius: 0;
}

.btn-inverse {
  background-color: #434857;
  color: white;
  &:hover, &:active, &:focus {
    background-color: darken(#434857,8%);
  }

  &.active {
    background-color: $blue;
  }
}


// =============

.btn-group-tab {
  clear: both;
  margin-top: 10px;

  .btn {
    min-width: 100px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.date-row {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.col-group {
  position: relative;
  display: flex;

  .col {
    display: block;
    padding: 0 15px;
      max-width: 270px;
  }
}

#tv {
  margin-bottom: 30px;
}

.col-dates {
  padding: 2em 15px 0 0;
  time {
    display: block;
    width: 100%;
    line-height: 1;
    height: 33.333%;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding-top: 2.6rem;
  }
}

.card {
  &.card-inverse {
    background-color: #292c35;
    border: 1px solid rgb(45, 50, 62);
    -webkit-box-shadow: 0px 11px 18px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 11px 18px 0px rgba(0, 0, 0, 0.26);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    // &:hover, &:active, &:focus {
    //     background-color: #20232b;
    //     border: 1px solid #1a1d27;
    // }
  }

  .card-body {
    position: relative;
    clear: both;
  }

  position: relative;
  border-radius: 0;
  margin-bottom: 5px;
  &:first-of-type {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &:last-of-type {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;  
  }
}


$date-width: 80px;
$perf-table-border: #383c48;
$table-right-offset: 15px;
.percentage {
  &:after {
    content: '%';
    display: inline-block;
    font-size: 80%;
    color: #d8d8d8;
  }
}

$circle-width: 84px;
.progress-circle {
  display: block;
  width: $circle-width;
  margin: auto auto;
}
.progress-data {
  display: inline-block;
  vertical-align: middle;
}
.progress-gauge {
  width: $circle-width;
  height: $circle-width;
    text-align: center;
    line-height: 1;
    display: block;
    float: left;
    position: relative;
    margin: 0 15px;
    max-width: $circle-width;
    vertical-align: middle;

  .progress-gauge-details {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
  }
  .percentage {
    font-size: 1.9em;
    font-weight: 400;
    color: white;
  }
  .budget {
    display: block;
    clear: both;
    font-size: 0.95em;
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 2px;
  }
}
.progress-stly {
  display: table-cell;
    text-align: center;
    position: relative;
    width: 100px;
    height: $circle-width;
    line-height: 1;
    font-size: 1.2rem;
    vertical-align: middle;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: 5.5px 0px 5.5px 6px;
      border-color: transparent transparent transparent #3d414d;
      top: 38px;
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 50px;
      position: absolute;
      background-color: #3d414d;
      top: 20px;
    }

  .percentage,.n-a {
    font-size: 1.4rem;
    color: white;
    display: block;
    margin-top: 8px;

    sub {
      bottom: 3px;
      font-size: 0.9rem;
    }

    ~ span {
        font-size: 0.8rem;
        line-height: 1;

        sub {
          bottom: 0;
        }
    }
  }
}

.percentage-indicator-arrows {
  font-size: 1.2em;
  &.up {
    color: #72cb53;
  }

  &.down {
    color: #fd5454;
  }
}

.channel-names {
  margin-top: 5px;
  font-weight: 400;
  font-size: 1em;
}

.card-table-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: $date-width;
  padding-right: $table-right-offset;
}

.card-table {
  display: table;
  list-style: none;
  counter-reset: mycounter;
  width: 100%;
  height: 100%;

  .card-table-tr {
    display: table-row;

    .card-table-td {
      display: table-cell;
      font-style: normal;
      position: relative;
      border: 1px solid $perf-table-border;
      border-right: none;

      &:last-child {
        width: 1px !important;
      }

      &:before {
        position: absolute;
        width: 30px;
        display: block;
        text-align: center;
        left: -15px;
        font-size: 11px;
      }

      &:before { top: calc(100% + 3px); top: -webkit-calc(100% + 3px); }

      &:not(:first-child) {
        counter-increment: mycounter 20;
        &:before { content: counter(mycounter); }
      }

      &:first-child {
        &:before { content: '0'; }
      }
    }
  }
}

.performance-dashboard-body {
  height: auto;
  margin-top: 0;
  padding: 8px;
  text-align: center;
}

.performance-dashboard-header {
  border-bottom: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px;
}

.bar-chart {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding-right: $table-right-offset;
}

.bar-months {
  display: block;
  width: auto;
  padding: 20px 0;
  padding-left: $date-width;
  position: relative;
  // border-bottom: 1px solid $perf-table-border;
  &:first-of-type {
    // border-top: 1px solid $perf-table-border;
  }

  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }

  > div:first-of-type {
    display: block;
    width: $date-width;
    text-align: center;
    line-height: 1.1;
    color: white;
    left: 0;
    top: calc(50% - 24px);
    top: -webkit-calc(50% - 24px);
    position: absolute;
    font-weight: 300;
    font-size: 1.6rem;

    small {
      font-weight: 300;
      display: block;
      font-size: 0.95rem;
      margin-top: 3px;
      letter-spacing: 1px;
    }

    + div {
      float: left;
      width: 100%;
    }
  }
}

@mixin gradient($start,$end) {
  background: linear-gradient(90deg, rgba($start,0.4) 0%, rgba($end,0.8) 100%);
}

.bars {
  display: block;
  clear: both;
  line-height: 1;
  padding: 5px 8px;
  color: white;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &.budget {
    background-color: #2a8ad5;
    @include gradient(#2a8ad5,#2a8ad5);
  }

  &.current-year {
    background-color: #3672a4;
    @include gradient(#3672a4,#3672a4);
  }

  &.last-year {
    background-color: #a72dbf;
    @include gradient(#1da5d8,#007abf);
  }
}


[data-row-month]:before {
    display: block !important;
    position: absolute;
    font-size: 1.6rem;
    top: calc(50% - 1rem);
    top: -webkit-calc(50% - 1rem);
    right: calc(100% + 30px);
    content: attr(data-row-month) !important;
    text-align: center;
    width: 70px;
}

time {
    margin-bottom: -10px;
    display: block;
}